<div class="sidebar">
  <div class="sidebar-avatar"></div>
  <div class="sidebar-about">
    <h1>
    <span>Kyle </span><span>G. </span><span>Boyle</span></h1>
  </div>
  <div class="container sidebar-sticky">


    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="{{ .Site.BaseUrl }}/">Blog</a></li>
      {{ range .Site.Menus.main }}
      <li class="sidebar-nav-item"><a href="{{ .Url }}">{{ .Name }}</a></li>
      {{end}}
    </ul>

    <ul class="sidebar-nav sidebar-social">
    <li><a href="https://ca.linkedin.com/in/kyboyle/"><i class="icon-linkedin-squared"></i></a></li>
    <li><a href="https://github.com/kyleboyle"><i class="icon-github-squared"></i></a></li>
    <li><a href="https://twitter.com/kyboyle"><i class="icon-twitter-squared"></i></a></li>
    </ul>

    <p>Copyright &copy; {{ .Now.Format "2006" }}</p>
  </div>
</div>
